$font-body: 'RobotoRegular';
$font-body-medium: 'RobotoMedium';
$font-body-bold: 'RobotoBold';
$font-body-light: 'RobotoLight';
$blue-light: #F2F5F8;
$blue: #1C6EF7;
$brown: #444B54;
$brown-light: #A5B0BF;